[submodule "lingua_trainer"]
	path = lingua_trainer
	url = https://gitlab.com/amazing_ai/lingua_trainer.git
[submodule "naija_highlights"]
	path = naija_highlights
	url = https://gitlab.com/amazing_ai/naija_highlights.git
